html, body {
  position: relative;
  height: 100%;
  width: 100%;
}

html {
  font-family: 'futura-pt', 'Avenir Next', Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background: url('./images/4th-of-july.jpg');
  background-position-x: 50%;
  background-size: cover;
  color: white;
}

header {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.125;
  padding-top: 0.25em;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.26), 0 2px 6px rgba(0,0,0,0.13);
  text-transform: uppercase;
  transition: opacity 3s;
  opacity: 1;
}

header.hidden {
  opacity: 0;
}

header .date {
  font-size: 1.0625em;
}

footer {
  bottom: 0;
  height: 4rem;
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

footer > div {
  top: 1rem;
  height: 100%;
  position: absolute;
  transition: top 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: rgba(0,0,0,0.65);
  width: 100%;
}

footer > .hidden {
  top: 4rem;
}

footer .hashtag {
  display: block;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2;
  margin: auto;
  padding: 0 .75em;
}

.ampersand {
  color: rgba(255,255,255,0.25);
  font-family: 'Baskerville', serif;
  font-size: 200vw;
  height: 100%;
  left: 0;
  line-height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  transition: opacity 3s;
  opacity: 1;
}

.ampersand:after {
  content: "&";
  display: block;
  left: 50%;
  margin-left: -.375em;
  position: absolute;
  user-select: none;
  width: 0.75em;
}

.ampersand.hidden {
  opacity: 0;
}

@media (min-width:30rem){
  footer {
    height: 4.5rem;
  }

  footer > div {
    left: 50%;
    transform: translate(-50%,0);
    width: auto;
  }

  footer > .hidden {
    top: 4.5rem;
  }

  footer .hashtag {
    display: inline-block;
    font-size: 2rem;
    line-height: 1.75;
  }

  header {
    font-size: 3rem;
    line-height: 1.0625;
  }
}

@media (min-width:40rem){
  footer {
    height: 6.25rem;
  }

  footer > .hidden {
    top: 6.25rem;
  }

  footer .hashtag {
    display: inline-block;
    font-size: 3rem;
    line-height: 1.75;
  }

  header {
    font-size: 4.25em;
    line-height: 1.0625;
  }
}

@media (min-aspect-ratio:9/10) {
  .ampersand {
    font-size: 180vh;
  }
}
